<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NESFLIS</title>
    <!-- Agrega los estilos de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #111; 
            color: white; 
            font-weight: bold; 
            min-height: 100vh; 
            position: relative; 
        }
        
        .container {
            max-width: 1200px; 
            margin: 0 auto;
            padding: 50px 20px;
        }
        
        .card {
            background-color: #222; 
            color: white; 
            transition: transform 0.3s ease-in-out; 
        }

        .card:hover {
            transform: scale(1.1); 
        }
        
        .card-title {
            color: white; 
        }
        
        .card-text {
            color: white;
        }
        
        .btn-primary,
        .btn-outline-primary {
            color: white;
            background-color: #007bff; 
            border-color: #007bff;
        }
        
        .btn-danger {
            color: white; 
            background-color: #dc3545; 
            border-color: #dc3545; 
        }
        
        /* Estilos para el footer */
        footer {
            position: absolute; 
            bottom: 0; 
            width: 100%; 
            background-color: #ff000029; 
            color: white; 
            padding: 20px 0; 
            text-align: center; 
        }
    </style>
</head>
<body>
    <div class="container">
        <center><h1 style="font-size: 48px; font-weight: bold; color: red;">NESFLIS</h1></center>
        
        <!-- Agregar un nuevo formulario para la b칰squeda -->
        <form action="/Peliculas/buscar" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar pel칤cula" name="query">
                <button class="btn btn-outline-primary" type="submit" style="background-color: #ff0000; border-color: #000000;">游댌勇꾁uscar</button>
            </div>
        </form>

        <!-- Organiza los botones "Regresar", "+Agregar Pel칤cula" e "Iniciar Sesi칩n" en una fila -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <a href="/Peliculas" class="btn btn-outline-danger w-100">枸Regresar</a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="/Peliculas/agregar" class="btn btn-outline-danger w-100">+Agregar Pel칤cula</a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="/login" class="btn btn-danger w-100">游녻Iniciar Sesi칩n</a>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
            <% Peliculas.forEach(Pelicula => { %>
                <div class="col mb-4">
                    <div class="card h-100">
                        <img src="<%= Pelicula.img %>" class="card-img-top" alt="<%= Pelicula.nombre %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= Pelicula.nombre %></h5>
                            <p class="card-text">A침o: <%= Pelicula.a침o %></p>
                            <p class="card-text">Director: <%= Pelicula.director %></p>
                            <p class="card-text">Actores: <%= Pelicula.actores.join(', ') %></p>
                            <!-- Agrega un bot칩n para eliminar la pel칤cula -->
                            <button class="btn btn-danger deleteButton" data-id="<%= Pelicula._id %>">- Eliminar</button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        Creado por Alvaro Jasiel y Fernando Alonso
        춸Derechos reservados Facultad de Telematica
    </footer>

    <!-- Agrega los scripts de Bootstrap al final del body para mejorar el rendimiento -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Agregar evento de clic a los botones de eliminar
        document.querySelectorAll('.deleteButton').forEach(button => {
            button.addEventListener('click', async () => {
                // Obtener el ID de la pel칤cula
                const peliculaId = button.getAttribute('data-id');
                // Mostrar confirmaci칩n antes de eliminar
                const confirmacion = confirm('쮼st치s seguro de eliminar esta pel칤cula?');
                if (confirmacion) {
                    try {
                        // Enviar solicitud para eliminar la pel칤cula
                        await fetch(`/Peliculas/${peliculaId}?_method=DELETE`, {
                            method: 'POST'
                        });
                        // Mostrar alerta de pel칤cula eliminada
                        alert('Pel칤cula eliminada');
                        // Desaparecer la alerta despu칠s de 3 segundos
                        setTimeout(() => {
                            alert.style.display = 'none';
                        }, 3000);
                        // Recargar la p치gina
                        location.reload();
                    } catch (error) {
                        console.error('Error al eliminar la pel칤cula:', error);
                    }
                }
            });
        });
    </script>
</body>
</html>
